
<div class="customer-index">
  <div class="grid-x">

    <div class="callout-client-creation callout cell small-4">
      <%= render "layouts/customer_creation" %>
    </div>
    <div class="cell" id="app">
    </div>
  </div>
</div>
