<div class="customer-index" >
  <div class="grid-x">
    <div class=" callout-client-creation cell medium-3 small-4" >
      <div class=" callout">
        <%= render "layouts/customer_creation" %>
      </div>
      <div class="cell small-offset-1 auto  customer-grid" id="app">
      </div>
    </div>
  </div>
</div>
