@import 'nav';

.callout-client-creation{
  min-width: 300px;
  max-height: 800px;

}

.form-container-main{
  margin-top: 60px;
  max-width: 600px;
}

.profile-picture{
  border-radius: 50%;
  border: solid 1px #cbd6e2;
  object-fit: cover;
  margin: 0 auto;
}

.customer-form-title{
    font-family: 'Roboto';
    color: #707375;
}

.profile-picture-container{
  border-bottom: solid 1px #cbd6e2;
}

.picture-submit{
  margin: 20px auto;
}

.accordion-menu-form{
    padding-top: 20px;

  a{
    color: #2D3F4E;
    font-weight: bold;
    font-size: 1em;
    background-color: $sub-color
  }
}

.accordion-label{
    min-width: 300px;
}
.customer-button{
  background-color: $accent;
  font-size: 0.80em;
  font-weight: bold;
  &:hover{
    background: white;
    border-color: $accent;
    color: $accent;
  }
}

.customer-grid{
  margin-top: 50px;
  display: grid;
  overflow-y: auto !important visible;
}

.click-function:hover{
  transition: transform .2s;
  transform: scale(1.05);
  box-shadow: 0 10px 35px rgba(50,50,93,.1),0 2px 15px rgba(0,0,0,.07)
  darken(#341cac, 10%);
}
