@import 'nav';

.callout-client-creation{
  min-width: 300px;
}

.customer-form{
border-top: solid #cbd6e2 1px;
padding-top: 10px;
}

.profile-picture{
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
  padding: 10px;
}

.accordion-menu-form{
  a{
    color: #2D3F4E;
    font-weight: bold;
  }
}

.customer-button{
  background-color: $accent;
  font-size: 1em;
  font-weight: bold;
  &:hover{
    background: white;
    border-color: $accent;
    color: $accent;
  }
}
