@import 'nav';

.callout-client-creation{
  min-width: 300px;
}


.profile-picture{
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
  padding: 10px;
}
.profile-picture-container{
  border-bottom: solid 1px #cbd6e2;
}

.picture-submit{
  margin: 20px auto;
}

.accordion-menu-form{
    padding-top: 20px;

  a{
    color: #2D3F4E;
    font-weight: bold;
    background-color: $sub-color
  }
}

.customer-button{
  background-color: $accent;
  font-size: 1em;
  font-weight: bold;
  &:hover{
    background: white;
    border-color: $accent;
    color: $accent;
  }
}
