.diary-entries-container{
  margin-top: 50px;

  width:auto;
  margin-bottom:25px;
  height: 100%;


}

.blank-message{
  color: #33475b;
  font-size: 2em;
  text-align: center;
  font-family: 'Roboto';
}
