@import 'nav';

.callout-diary-creatio{
  min-width: 350px;
  max-width: 800px;
  height: 100%;
  width: 1000%;
  overflow-y: scroll;
  overflow-x: hidden;
  background: white;
  border-color: grey 1px;
  font-family: 'Roboto';
  position: sticky;
  top: 0;
  margin-right: 0;

}

.callout-diary-input{
  background: #328b81;
  border-radius: 10px;
  box-shadow:0 2px 10px rgba(0,0,0,.2);
  padding-top: 5px;
  min-width: 500px;
  padding-right: 16px;
}

.form-container{
  border-style: solid 5px grey;
  color: #33475b;
  border-top: transparent;
  margin-bottom: 0px;


  p{
    font-weight: bold;
    font-size: 12px;
  }

}

.form-image{
  border-radius: 8px;
  border-style: solid 1px grey;
  border: 1px;
  object-fit: cover;
  height: 200px;
  margin-top: 10px;
  width: 100%;
}
.callout-image-form{
  border-radius: 8px;
}

.diary-updated{
  font-weight: bold;
  font-size: 9px;
  padding-top: 10PX;
}
.diary-updated-border{
  border-right: solid 1px #0a0a0a40;

}
.diary-name{
  border-right: solid 1px #0a0a0a40;
  border-left: solid 1px #0a0a0a40;
  h3{
    margin-top: 15px;
    margin-left: 15px;
  }
}
.diary-title{
  font-size: 1.5em;
  margin-left: 15px;
}

.diary-button{
  color: white;
}

.delete-tag{
    margin-bottom: 0px;
}
.link-dash{
  color: white;
}

.diary-input-container{
  font-family: 'Roboto';
  color: #33475b;
  margin-top: 8px;
}

.label-text{
  font-size: 12px;
  color: white;
  font-weight: bold;
}

.diary-action-button{
  background: $accent;
  border-radius: 25px;
  font-size: 0.70em;
  margin-top: 10px;
  margin-top: 30px;

  &:hover{
    background: white ;
    border-color: $accent;
    color: $accent;
  }
}

#diary-input{
  border-radius: 8px;
}
.dashboard-container{
  width: 100%;
  background: transparent;
}

.mini-comment{
  border-radius: 10px;
  color: #33475b;
  overflow-x: scroll ;
  .minibody{
    font-size: 14px;
    font-weight: normal;
  }
  .minititle{
    font-size: 18px;
    font-weight: bold;
  }
}

.link-edit{
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 50%;
}

.button-grid{
  margin: 10%;
  margin-top: 12px;
}

.callout-edit{
  label{
    color: white;
    font-weight: bold;
  }
}
