@import 'nav';

.diary-entries-container{
  margin-top: 50px;
  width: 100% auto;
  min-width: 700px;
  margin-bottom:25px;
  height: 100%;

}

.blank-message{
  color: #33475b;
  font-size: 2em;
  text-align: center;
  font-family: 'Roboto';
}

.messages-container{
  border-radius: 10px;
  height: 100%;
}

.comment{
  height: 100px;
  padding-top: 5px;
  color: #33475b;
  border-radius: 10px;
  overflow-y: scroll;
  .text{
    text-align: left;
    padding:0;

  }
  .text-title{
    font-weight: bold;
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 10px;
    overflow-x: block;
    overflow-y: hidden;
    word-wrap:break-word;
  }
  .text-body{
    padding-left: 50px;
    font-size: 18px;
    word-wrap: break-word;
  }

}
.pin-tag{
  height: 40px;
  font-size: 13px;
  &:hover{
    zoom: 1.1;
  }


}
.tack{
  color: $accent;
}

.delete{
  color: red;
}

.text-tag{
  background: #e1ecf4;
  overflow-x: hidden;
  font-size: 12px;
  height: 100%;
  margin-bottom: 0;
  width: 100%;
  margin-left: 10px;
  padding: 0;
  border: solid 1px black;

}
