
html, body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  flex-direction: column;
  display: flex;
}

.head{
  animation-duration: 2.5s;
  text-align: left;
}

.head-title{
  font-weight: 900;
}
