$sub-color: #f4f4f5;
$main-color: #EAEEF2;
$accent: #1ac74f;

.title-bar{
  margin-top: 0px;
  background-color: white;
  border-bottom: solid 1px rgba(0,0,0,.14);
}
.mainpage-action-button{
  background: $accent;
  border-radius: 25px;
  font-size: 1.20em;
  margin-top: 18px;
  margin-bottom: 18px;
  &:hover{
    background: white;
    border-color: $accent;
    color: $accent;
  }
}
.menu-icon{
  transition: 0.20s
}
.title-bar-title{
  color: #34393f;
  font-size: bold;
  text-align: center;
  margin-left: 40%;
  margin-right: 5%;
}
.title-bar-right{
  text-align: left;
}

.menu-icon::after{
  background: #151515;
  -webkit-box-shadow: 0 7px 0 #151515, 0 14px 0 #151515;

}

.top-bar {
  background: white;
  border-bottom: solid 1px rgba(0,0,0,.14);
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;

  .welcome-sign{
    color: grey;
    &:hover{
      border-bottom: solid #1bc74e;
      font-weight: bold;
      transition: 0.30s
    }
  }

}

.top-bar .nav-button {
  background: white;
  color: grey;
  &:hover{
    border-bottom: solid #1bc74e;
    font-weight: bold;
    transition: 0.30s
  }

}

.top-bar ul{
  background: white
}

.top-bar-right li{
  margin-top: 0px;
  margin-top: 0px;
}

.callout .error-title{
  color: #ce4c4c;
}

.welcome-sign{
  height: auto;
}
.sticky-container{
  background-color: $sub-color;
}
#sticky_footer {
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    background-color: $sub-color
}
#mobile-menu{
  margin-top: 0px;
}
// Secondary top-bar
.top-bar-secondary{
  background: #2d3f4f;
  ul{
    background: #2d3f4f;
  }

  .welcome-sign{
    color: grey;
    &:hover{
      border-bottom: solid #1bc74e;
      font-weight: bold;
      transition: 0.30s
    }
  }
  .nav-button{
    background: #2d3f4f;
    color: white;
  }
}
.dashboard-button{
  padding-top:25px;
  background-color: transparent;
  color: $accent;
  border-color: $accent;
  border-width: 2px;
  &:hover{
    background-color: transparent;
    border-width: medium;
  }
}
