$sub-color: #f4f4f5;
 $main-color: #EAEEF2;


.authorization{
  box-shadow: 2px 2px 18px 1px #7076892b;
  background: $sub-color;
}

.mainpage-content{

  background: $main-color;
  padding-top: 250px;
  @media screen and (max-width: 640px){
    padding-top: 100px;
  }
}
