$sub-color: #f4f4f5;
 $main-color: #EAEEF2;


.authorization{
  box-shadow: 2px 2px 18px 1px #7076892b;
  background: $sub-color;
  height: 100%;
}

.mainpage-content{

  background: $main-color;
  padding-top: 200px;
  padding-bottom: 200px;
  @media screen and (max-width: 640px){
    padding-top: 100px;
  }
  height: 100%;
}

.validation-content{
  padding-top: 50px;
  @media screen and (max-width: 640px){
    padding-top: 20px;
  }
}

.customer-index{
  background: $sub-color;
  -webkit-box-shadow: inset 0px 0px 15px -6px #7f7979a1;
  box-shadow: inset 0px 0px 15px -6px #7f7979a1;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.customer-show{
  background: $main-color;
  -webkit-box-shadow: inset 0px 1px 35px 12px rgba(0,0,0,0.1);-moz-box-shadow: inset 0px 1px 35px 12px rgba(0,0,0,0.1);box-shadow: inset 0px 1px 35px 12px rgba(0,0,0,0.1);
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
