@import 'nav';

.search-bar-title{
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 2.4em;
  color: #33475b;
}

.search-button{
  color: white;
  width: 100%;
}

.usercardcontainer{
  font-family: 'Roboto';
  max-width: 250px;
  min-width: 250px;
  margin: 30px 20px;
  margin-right: 30px;
  background: white;
  height: 325px;
  align-content: center;
  box-shadow: 0 10px 35px rgba(50,50,93,.1),0 2px 15px rgba(0,0,0,.07);
  overflow-y: hidden;
}


.card-body-user-customers{
  padding-bottom: 200px;
}

.user-card-picture{
  align-content: center;
}

.grid-user-index{
  margin: 0 auto;
  justify-content: center;
}
.form-image-user{
  margin-bottom: 20px;
  height: 160px;
  border: solid 1px #0a0a0a40;
}

.import-button{
  background: $accent;
  p{
    margin-bottom: 0;
    color: #2D3E4E;
  }
  padding-bottom: 10px;
  font-weight: bold;
  border-radius: 15px;
}

.usersearccard{
  &:hover{

     .import-button{
       box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
     }
  }
}
